<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ahmed Hafez. It uses data from mapbox.com and weatherstack.com </p>
        <img class="portrait" src="./img/Ahmed Hafez Jpg - Copy.jpg" alt="">
    </div>

    {{>footer}}
</body>

</html>